[submodule "zh_config"]
	path = components/zh_config
	url = http://git.zh.com.ru/alexey.zholtikov/zh_config
[submodule "zh_json"]
	path = components/zh_json
	url = http://git.zh.com.ru/alexey.zholtikov/zh_json
[submodule "components/zh_espnow"]
	path = components/zh_espnow
	url = http://git.zh.com.ru/alexey.zholtikov/zh_espnow